<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>   
<body>
    <div class="container-fluid">
   <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <% include partials/templates/header.ejs %>
    </nav>
    <div id="tf-about">
        <div class="container">
                <div class="section-title">
                            <h1>About us</h1>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                <div >
                    <img src="images/about_image.jpg" class="img-responsive">
                </div>
                <div >
                    <div class="about-text">
                        <p class="intro">As observed by our client <strong>Prashanth</strong>, many students commute from very far off places like Spencer, Carmel, etc. to Indiana University on a daily basis.</p><br>
                        <p class="intro">And with the rising fuel prices these days, student have a hard time managing their expenses.</p><br> 
                         <p class="intro">This commutation problem is not only being dealt by IU student, but by tons of other people across USA.</p><br>
                        <p class="intro">To tackle this problem, our client proposed us a web-application called <strong>"Ride-On"</strong> that would have provisions for users to post the requirement of sharing a ride or providing a ride.</p> 
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <% include partials/templates/footer.ejs %>
</body>
</html>
