
<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
 </head>   
<body>
<div class="container-fluid">

<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <% include partials/templates/header.ejs %>
</nav>
<!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Meet <strong>our team</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="images/team/prashanth.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="https://www.linkedin.com/in/prashanthkumarmurali" target="_blank">Prashanth Kumar Murali</a></h3>
                                <p>CEO / Founder</p>
                                <p>Prashanth founded RideOn in 2015 with the vision of making students life at IU easier.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="images/team/pandeyh2.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="https://www.linkedin.com/in/pandeyh" target="_blank">Hemant Pandey</a></h3>
                                <p>Director</p>
                                <p>As Director of Rideon, Hemant handles all infrastructure provisioning and security of the company.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="images/team/nethra.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="https://www.linkedin.com/in/nethracsashikar" target="_blank">Nethra Sashikar</a></h3>
                                <p>Managing Director</p>
                                <p>As Managing Director of RideOn, Nethra is responsible for the expansion of the company across the world</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="images/team/dk.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="https://www.linkedin.com/in/deepakasinathan" target="_blank">Deepa Kasi Nathan</a></h3>
                                <p>Vice President</p>
                                <p>As Vice  President of RideOn, deepa develops the Strategies and plans for achieving the company's goals.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <% include partials/templates/footer.ejs %>
</div>
 </body>
 </html>   
