<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
 </head>   
<body>
    <div class="container-fluid">

<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <% include partials/templates/header.ejs %>
</nav>
<!-- Testimonials Section
    ==========================================-->
<div id="tf-testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>User’s</strong> testimonials</h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item">
                            <h5>Didnt had to go through a plethora of ads in IU Classifieds.</h5>
                            <h5>Saved money and Time!!</h5>
                            <p><strong>Anup Prasad</strong></p>
                        </div>

                        <div class="item">
                            <h5>Cool idea. Really Impressive!!</h5>
                            <p><strong>Ali Ghazinejad</strong></p>
                        </div>

                        <div class="item">
                            <h5>Million Dollar idea!!</h5>
                            <p><strong>Abraham Lincoln</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <% include partials/templates/footer.ejs %>
</div>
</body>
</html>

